body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  /* color: #00ffff; */
}

.menu-button {
  margin: 24px;
}

.title {
  text-align: center;
}

.sub-title {
  margin: 12px 0;
}

.text-field {
  margin-bottom: 12px;
}

.original-image-file {
  margin-top: 12px;
  max-width: 100%;
}
